//Colors
$main-bg-color: #fff;
$main-font-color: #000;

//Height
$header-height: 70px;

//Width
$main-page-size: 1240px;

$main-page-num-col: 12;

$main-page-col-gap: 20px;
//Z-index

//Collection
$collection-col-grid-first: (1/6);
$collection-col-grid-second: (7/10);
$collection-col-grid-third: 10/12;
$collection-col-grid-forth: 4/10;

//Woman
$woman-col-grid-first: 1/6;
$woman-col-grid-second: 7/12;
