.collection__item__first-col {
  // grid-column: $collection-col-grid-first;
  grid-column: 1/6;
}

.collection__item__second-col {
  // grid-column: $collection-col-grid-second;
  grid-column: 7/10;
  margin-top: 25.6rem;
}

.collection__item__third-col {
  // grid-column: $collection-col-grid-third;
  grid-column: 10/12;
  margin-top: 3.4rem;
}

.collection__item__forth-col {
  // grid-column: $collection-col-grid-forth;
  grid-column: 4/10;
  margin-top: 6.2rem;
}

.collection__item__text {
  display: inline-block;

  margin-top: 1.8rem;

  font-weight: 500;
  font-size: 3.6rem;
  line-height: 4.4rem;
}
