.equilibrium__item__first-col {
    grid-column: 1/4;
}

.equilibrium__item__second-col {
    grid-column: 7/12;
}

.equilibrium__item__first-col__btn {
    margin-top: 2rem;
}

.equilibrium__item__first-col__text {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
}