.header {
  width: 100%;
  height: $header-height;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-color: transparent;
}

.header__nav {
  display: flex;
  justify-content: space-between;

  font-size: 1.6rem;
  font-weight: 600;
  color: #fff !important;
}

.header__nav__item {
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 2.8rem;
  }
}

.header__btn {
  position: absolute;
  top: 5rem;
  right: 10rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
