.main {
  width: 100%;
  height: calc(100vh - ($header-height));

  grid-column: 1/12;

  position: relative;

  background-color: red;
}

.main__title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  font-size: 25rem;
  font-weight: 600;
  text-transform: uppercase;
}

// .main__bg-img {
// }
