.stories__item__first-col {
  grid-column: 1/4;
}
.stories__item__second-col {
  grid-column: 4/9;
}

.stories__item__third-col {
  grid-column: 10/12;
}

.stories__item__text {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.stories__item__forth-col {
  grid-column: 1/4;
}
