<div class="section">
  <span class="section__title">коллекция</span>
  <div class="collection__item__first-col">
    <img
      class="img collection__item__img"
      src="../assets/images/collection/img_collection_1.png"
      alt="Мужчина с двумя сумками"
    />

    <span class="collection__item__text">GUCCI HA HA HA</span>
  </div>
  <div class="collection__item__second-col">
    <button class="btn">еще</button>
  </div>
  <div class="collection__item__third-col">
    <img
      class="img collection__item__img"
      src="../assets/images/collection/img_collection_2.png"
      alt="Девушка"
    />

    <span class="collection__item__text">GUCCI LOVELIGHT</span>
  </div>
  <div class="collection__item__forth-col">
    <img
      class="img collection__item__img"
      src="../assets/images/collection/img_collection_3.png"
      alt="Трое ребят на пикнике"
    />

    <span class="collection__item__text">THE NORTH FACE X GUCCI</span>
  </div>
</div>
