<div class="section">
    <span class="section__title">gucci equilibrium</span>
    <div class="equilibrium__item__first-col">
    <span class="equilibrium__item__first-col__text">Наше стремление к позитивным изменениям для людей и нашей планеты.</span>
    <div class="equilibrium__item__first-col__btn"><button class="btn">больше</button></div>
    </div>
    <div class="equilibrium__item__second-col">      
        <img
        class="img"
        src="../assets/images/equilibrium/image_equilibrium_1.png"
        alt="Лозунг"
      />
    </div>
  </div>
  