<header class="header">
  <nav class="header__nav">
    <div class="header__nav__item">
      <a href="#">коллекции</a>
    </div>
    <div class="header__nav__item">
      <a href="#">мужчины</a>
    </div>
    <div class="header__nav__item">
      <a href="#">женщины</a>
    </div>
    <div class="header__nav__item">
      <a href="#">украшения</a>
    </div>
    <div class="header__nav__item">
      <a href="#">дети</a>
    </div>
    <div class="header__nav__item">
      <a href="#">часы</a>
    </div>
  </nav>
</header>
