<div class="main">
  {{> header}}
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="slider__item">
          <img
            class="img main__img"
            src="../assets/images/main/image_main_first.png"
            alt="Афроамериаканец в синем костюме лежит"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__item">
          <img
            class="main__img"
            src="../assets/images/main/image_main_second.png"
            alt="Афроамериаканец в профиль"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__item">
          <img
            class="main__img"
            src="../assets/images/main/image_main_third.png"
            alt="Девушка в очках и за рулем"
          />
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="main__title">Gucci</div>
  <div class="main__subtitle">/gucci 25h х идрис эльба</div>
</div>
