<div class="section">
  <span class="section__title">stories</span>

  <div class="stories__item__first-col">
    <button class="btn">больше</button>
  </div>

  <div class="stories__item__second-col">
    <img
      class="img stories__item__img"
      src="../assets/images/stories/img_stories_2.png"
      alt="Пожилая леди смеется"
    />
  </div>
  <div class="stories__item__third-col">
    <img
      class="img stories__item__img"
      src="../assets/images/stories/img_stories_3.png"
      alt="Кольца"
    />
  </div>
  <div class="stories__item__forth-col">
    <img
      class="img stories__item__img"
      src="../assets/images/stories/img_stories_1.png"
      alt="Мишки"
    />

    <span class="stories__item__text">GUCCI LOVELIGHT</span>
  </div>
</div>
