<div class="section">
    <span class="section__title">будь в курсе</span>
    <div class="subscription__item__first-col">
        <form class="subscription__item__form">
        <input class="input" type="text" size="40" placeholder="имя"/>
        <input class="input" type="text" size="40" placeholder="email"/>
        <button class="btn subscription__item__form__btn">подписаться</button>
    </form>
  </div>
  <div class="subscription__item__second-col">
    <div class="subscription__footer__item">
        <span class="subscription__footer__item__title">нужна помощь?</span>

        <nav class="subscription__footer__item__nav">
            <span class="subscription__footer__item__nav__item">Связаться с нами</span>
            <span class="subscription__footer__item__nav__item">FAQs</span>
            <span class="subscription__footer__item__nav__item">Уход за изделиями</span>
            <span class="subscription__footer__item__nav__item">Карта сайта</span>
        </nav>
    </div>
</div>
<div class="subscription__item__third-col">
    <div class="subscription__footer__item">
        <span class="subscription__footer__item__title">следите за нами</span>
    
        <nav class="subscription__footer__item__nav">
            <span class="subscription__footer__item__nav__item">Twitter</span>
            <span class="subscription__footer__item__nav__item">YouTube</span>
            <span class="subscription__footer__item__nav__item">Gucci Podcast</span>
            <span class="subscription__footer__item__nav__item">Pinterest</span>
            <span class="subscription__footer__item__nav__item">Snapchat</span>
        </nav>
    </div>
</div>
</div>