<div class="section">
    <span class="section__title">наша команда</span>
    <div class="team__item__first-col">
    <span class="team__item__text">Подробнее о Gucci <br />
        Gucci Equilibrium</span>
    </div>
    <div class="team__item__second-col">
        <span class="team__item__text">Code of Ethics Careers</span>
        </div>
        <div class="team__item__third-col">
            <span class="team__item__text">Правовая информация <br /> Политика конфиденциальности и использования файлов Cookie Корпоративная информация</span>
            </div>
    <div class="team__item__forth-col">      
        <img
        class="img team__item__forth-col__img"
        src="../assets/images/team/image_team_1.png"
        alt="Наша команда"
      />
    </div>
  </div>