<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- <div class="page"> -->
    {{> main }}
    <!-- <div class="page"> -->
    <div class="container">{{> body }}</div>
    <!-- </div> -->
    <!-- </div> -->

    <script src="assets/js/app.js"></script>

    <script>
      var swiper = new Swiper(".swiper", {
        loop: true,
        grabCursor: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          dynamicBullets: true,
        },
        keyboard: {
          enabled: true,
          onlyInViewport: true,
          pageUpDown: true,
        },
        autoplay: {
          delay: 1200,
          disableOnInteraction: false,
        },
        // mousewheel: {
        //   sensitivity: 1,
        //   eventsTarget: ".swiper",
        // },
        slidesPerView: 1,
        autoHeight: true,
        effect: "fade",
        fadeEffect: {
          crossFade: true,
        },
      });
    </script>
  </body>
</html>
