<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script> -->
    <div class="page">
      {{> header }}
      <div class="container">{{> body }}</div>
    </div>

    <script src="assets/js/app.js"></script>

    <!-- <script>
      var swiper = new Swiper(".swiper", {
        // loop: true,
        grabCursor: true,
        keyboard: {
          enabled: true,
          onlyInViewport: true,
          pageUpDown: true,
        },
        mousewheel: {
          sensitivity: 1,
          eventsTarget: ".swiper",
        },
        slidesPerView: 2.8,
        spaceBetween: 3,
        autoHeight: true,
      });
    </script> -->
  </body>
</html>
